* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    padding: 0 165px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}